<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>order confirm page</title>
    <style>
        body{
            background-color: antiquewhite;
        }
    </style>
</head>
<body>
    <div id="confirm order">
        <h1>Thanks for shoping with us!</h1>
        <h2>YOur order has been confirmed</h2>
    </div>
    <div>
        <a href="/user_dashboard" type="button">Home</a>
    </div>
</body>
</html>